
.experience__container{

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.experience__container > div {
  background: rgb(172, 169, 235);
  background: linear-gradient(135deg, rgb(172 169 235) 0%, rgb(155 95 145 / 85%) 100%);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1.5px solid #ffffffcf;
  transition: var(--transition);
  box-shadow: 2px 4px 13px 0px #2e454c96;
}



.experience__container > div:hover{

  background: rgb(172,169,235);
background: linear-gradient(135deg, rgba(172,169,235,1) 0%, rgb(121, 73, 114) 100%);
  border-color: var(--color-primary-variant);
  
}

.experience__container > div h3{

  text-align: center;
  margin-bottom: 2rem;
  
}

.experience__content{

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  row-gap: 2rem;
}

.experience__details{

  display: flex;
  gap: 2rem;
}

.experience__details-icon{

  margin-top: 6px;
  color: var(--color-primary);
}

/* Media queries for medium devices(Tablets) */

@media screen and (max-width: 1024px) {

  .experience__container{

      grid-template-columns: 1fr;
  }

  .experience__container > div{

      width: 80%;
      padding: 2rem;
      margin: 0 auto;
  }

  .experience__content{

      padding: 1rem;
  }

}

/* Media queries for small devices(Mobiles) */

@media screen and (max-width: 600px) {

  .experience__container{

      gap: 1rem;
  }

  .experience__container > div{

      width: 100%;
      padding: 2rem 1rem;
  }
}

.see-more-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.see-more-button:hover {
  background-color: #0056b3;
}
